# Entorno virtual
.venv/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Variables de entorno
.env

# Archivos temporales
.DS_Store
Thumbs.db

# Logs
*.log

# vscode
.vscode